<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Gender</th>
        <th>Status</th>
    </tr>
    <tr *ngFor="let user of this.users">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.gender}}</td>
        <td>{{user.status}}</td>
    </tr>
    <tr>
        <td></td>
        <td><input (ngModel)="this.user.name"></td>
        <td><input (ngModel)="this.user.email"></td>
        <td><input (ngModel)="this.user.gender"></td>
        <td><input (ngModel)="this.user.status"></td>
    </tr>
</table>